footer
{
	background-color: rgba(0, 0, 0, .3);
	border-top: 1px solid rgba(0, 0, 0, .2);
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	position: fixed;
	right: 0;
	text-align: center;
}

footer ul
{
	display: table;
	margin: 0;
	padding: 0;
	width: 100%;
}

footer ul li
{
	border-radius: 3px;
	display: table-cell;
	list-style: none;
	margin-bottom: 10px;
}

footer ul li a
{
	color: #FFF;
	display: block;
	font-size: 11px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

footer ul li.link
{
	background-color: rgba(0, 0, 0, .3);
	width: 33%;
}

footer ul li.link.version
{
	background-color: transparent;
}

footer ul li.link.version a
{
	font-size: 22px;
}