.elephantphp header
{
	height: 60px;
	margin: 0 auto;
	width: 100%;
}

.elephantphp header nav
{
	background-color: rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px 0;
	position: fixed;
	right: 0;
	text-align: center;
}

.elephantphp header nav ul
{
	display: table;
	margin: 0 auto;
	padding: 0;
}

.elephantphp header nav ul li
{
	border-radius: 3px;
	display: table-cell;
	list-style: none;
}

.elephantphp header nav ul li a
{
	border: 1px solid #CCC;
	color: #CCC;
	display: block;
	font-size: 11px;
	margin: 0 4px;
	padding: 9px 12px;
	text-decoration: none;
	text-transform: uppercase;
}

.elephantphp header nav ul li.link
{
}

.elephantphp header nav ul li.link.version
{
	background-color: transparent;
}

.elephantphp header nav ul li.link.version a
{
}