/*@import url(footer.css);*/
@import url(header.css);

html, body
{
	margin: 0;
	padding: 0;
}

body.elephantphp
{
	background-color: #252833;
	color: #444;
	font-family: "Open Sans", sans-serif;
}

a
{
	color: #CCC;
}

.elephantphp h1,
.elephantphp h1 a
{
	color: #FFF;
	font-family: "Open Sans", sans-serif;
	font-size: 54px;
	font-weight: 200;
	margin: 0;
	padding: 30px 0;
	text-align: center;
	text-decoration: none;
}

.elephantphp h1#error-code,
.elephantphp h1#error-code a
{
	color: rgba(255, 255, 255, .8);
	font-size: 180px;
}

.elephantphp section
{
	margin: 0 auto;
	padding: 1em 2em;
}

.elephantphp #logo
{
	background-image: url(../img/logo.png);
	background-size: cover;
	height: 350px;
	margin: 0 auto;
	position: relative;
	width: 350px;
}

.elephantphp #error-message
{
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	background-color: rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	color: #CCC;
	display: block;
	font-family: Consolas, Monaco, monospace;
	font-size: 20px;
	padding: 20px 40px;
	text-align: center;
}

.elephantphp section .error
{
	color: #CCC;
	display: block;
	font-family: Consolas, Monaco, monospace;
	padding: 20px 40px;
	text-align: center;
}

.elephantphp section .error .type
{
	color: #FFF;
}

.elephantphp section .error .text
{
}